{% extends 'site/base.html' %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ asset('site/css/zhouke.css') }}">
{% endblock %}

{% block content %}
<div class="zhouke-work-page">
  {% include 'site/people/zhouke/_work_' ~ work_id ~ '.html' %}
</div>
{% endblock %}

{% block scripts_extra %}
<script>
  window.MathJax = {
    tex: { inlineMath: [['\\(', '\\)']], displayMath: [['\\[', '\\]']] },
    options: { skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'] }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" async></script>
{% endblock %}
