<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wan-Jian Yin | Professor, Soochow University</title>
    <meta name="keywords" content="Wan-Jian Yin,Soochow University,energy materials,defect physics,first-principles calculations,machine learning"/>
    <meta name="description" content="Wan-Jian Yin is a professor at the School of Energy, Soochow University, working on energy materials, defect physics, first-principles calculations and machine learning."/>
    <meta itemprop="name" content="Wan-Jian Yin | Professor, Soochow University"/>
    <meta itemprop="description" content="Wan-Jian Yin is a professor at the School of Energy, Soochow University, working on energy materials, defect physics, first-principles calculations and machine learning."/>
    <link rel="canonical" href="https://www.comates.group/pi?language=en"/>
    <meta property="og:title" content="Wan-Jian Yin | Professor, Soochow University"/>
    <meta property="og:description" content="Wan-Jian Yin | Professor, Soochow University. Research: energy materials, defect physics, first-principles calculations and machine learning."/>
    <meta property="og:type" content="profile"/>
    <meta property="og:url" content="https://www.comates.group/pi?language=en"/>
    <meta property="og:image" content="https://www.comates.group/static/images/yinwanjian.jpg"/>
    <meta property="og:image:secure_url" content="https://www.comates.group/static/images/yinwanjian.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="814"/>
    <meta property="og:image:height" content="1085"/>
    <meta property="og:image:alt" content="Wan-Jian Yin"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="Computational Materials Science Group"/>
    <meta itemprop="image" content="https://www.comates.group/static/images/yinwanjian.jpg"/>
    <link rel="image_src" href="https://www.comates.group/static/images/yinwanjian.jpg"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='images/web_logo.svg') }}"/>
    <!-- Font Awesome -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_4.0.0.beta.min.css') }}"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Slick slider -->
    <link href="{{ url_for('static', filename='css/slick.css') }}" rel="stylesheet">
    <!-- Gallery Lightbox -->
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
    <!-- Skills Circle CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circle.css') }}">


    <!-- Main Style -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Fonts -->

    <!-- Google Fonts Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <!-- Google Fonts Open sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/baidu_tongji.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/baidu_sousuo.js') }}"></script>
</head>
<body>
<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
</a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start Header -->
{% include "client/header.html" %}
<!-- End Header -->

<div style="margin: 30px auto;max-width: 1100px">
    <div class="jianli">
        <p style="text-align: center;">
            <img style="margin: 30px;width: 200px" src="{{ url_for('static', filename='images/yinwanjian.jpg') }}" alt="Wan-Jian Yin (尹万健)"/>
        </p>
        <p style="text-align: center;">
            Prof. Wan-Jian Yin<br/>
            School of Energy, Soochow University, China<br/>
            Soochow Institute of Energy and Materials Innovations (SIEMIS), China<br/>
        </p>
        <ul>
            <li>Education</li>
            <table cellpadding="5px">
                <tr>
                    <td>2009</td>
                    <td>&nbsp;</td>
                    <td>Ph.D. in Theoretical Physics, Fudan University, Shanghai, China</td>
                </tr>
                <tr>
                    <td>2004</td>
                    <td>&nbsp;</td>
                    <td>B.S. in Physics, Department of Physics, Fudan University, Shanghai, China</td>
                </tr>
            </table>

            <li>Academic Experience</li>
            <table cellpadding="5px">
                <tr>
                    <td>2019 - Now</td>
                    <td>&nbsp;</td>
                    <td>Beijing Graphene Institute (BGI), China</td>
                    <td>&nbsp;</td>
                    <td>Adjunct Professor</td>
                </tr>
                <tr>
                    <td>2015 - Now</td>
                    <td>&nbsp;</td>
                    <td>School of Energy, Soochow University, China</td>
                    <td>&nbsp;</td>
                    <td>Professor</td>
                </tr>
                <tr>
                    <td>2014 - 2015</td>
                    <td>&nbsp;</td>
                    <td>National Renewable Energy Laboratory, USA</td>
                    <td>&nbsp;</td>
                    <td>Research Associate</td>
                </tr>
                <tr>
                    <td>2011 - 2013</td>
                    <td>&nbsp;</td>
                    <td>Dept. of Phys. and Astro., University of Toledo, USA</td>
                    <td>&nbsp;</td>
                    <td>Research Assistant Professor</td>
                </tr>
                <tr>
                    <td>2009 - 2011</td>
                    <td>&nbsp;</td>
                    <td>National Renewable Energy Laboratory, Golden, USA</td>
                    <td>&nbsp;</td>
                    <td>Postdoctoral Researcher</td>
                </tr>
            </table>

            <li>Funding</li>
            <table cellpadding="5px">
                <tr>
                    <td>2020-2024</td>
                    <td>&nbsp;</td>
                    <td><b>MOST Program</b><br/>
                        10000 hours Perovskites Solar Cell (Theory)
                    </td>
                </tr>
                <tr>
                    <td>2020-2023</td>
                    <td>&nbsp;</td>
                    <td><b>Jiangsu Outstanding Young Award Funding</b><br/>
                        Theoretical and Computational Design of Solar Cell absorbers
                    </td>
                </tr>
                <tr>
                    <td>2020-2023</td>
                    <td>&nbsp;</td>
                    <td><b>NSFC award</b><br/>
                        Developing Defect Calculation Approach via Combining GW and DFT
                    </td>
                </tr>
                <tr>
                    <td>2020-2023</td>
                    <td>&nbsp;</td>
                    <td><b>Double Talent Team Award</b><br/>
                        Flexible and Wearable Electronics
                    </td>
                </tr>
                <tr>
                    <td>2016-2020</td>
                    <td>&nbsp;</td>
                    <td><b>MOST program</b><br/>
                        Material Genome Project for Photovoltaics: Program and Database
                    </td>
                </tr>
                <tr>
                    <td>2016-2020</td>
                    <td>&nbsp;</td>
                    <td><b>NSFC award</b><br/>
                        Theoretical Investigation of Ion Diffusion in Perovskite Solar Cell Materials and Its Impact on Stability
                    </td>
                </tr>
                <tr>
                    <td>2016-2019</td>
                    <td>&nbsp;</td>
                    <td><b>NSFC award</b><br/>
                        Theoretical Design of New Non-toxic Stable Perovskite for Solar Cell Application
                    </td>
                </tr>
                <tr>
                    <td>2016-2019</td>
                    <td>&nbsp;</td>
                    <td><b>Jiangsu Province Research Funding</b><br/>
                        Smart Algorithm for Searching New Perovskite Materials for Photovoltaic Application
                    </td>
                </tr>
                {#                <tr>#}
                {#                    <td>2014-2017</td>#}
                {#                    <td>&nbsp;</td>#}
                {#                    <td>美国自然科学基金(NSF)项目，第二负责人(coPI)<br/>#}
                {#                        项目名称: “New metal oxides for efficient hydrogen production via solar water splitting”#}
                {#                    </td>#}
                {#                </tr>#}
                {#                <tr>#}
                {#                    <td>2013-2016</td>#}
                {#                    <td>&nbsp;</td>#}
                {#                    <td>美国能源部FPACE-II项目，共同负责人(coPI)<br/>#}
                {#                        项目名称: “Approaching the Schockley-Queisser limit with epitaxial CdTe”#}
                {#                    </td>#}
                {#                </tr>#}
            </table>

            <li>Research Interests</li>
            <p>
                <b>1.</b> Defect Physics<br/>
                <b>2.</b> Materials Design<br/>
                <b>3.</b> Graphene Growth
            </p>

{#            <li>科研和教学活动</li>#}
{#            <p>#}
{#                <b>1.</b> 担任国际物理,化学和材料类杂志文章的评审，其中包括Nature Materials, Physical Review Letters, Physical Review B, Journal of the American Chemical Society,#}
{#                Journal of Physical Chemistry，Nature Communications, Advanced Materials, Energy & Environmental Science等<br/>#}
{#                <b>2.</b> 2012年至2013年 在托莱多大学物理与天文系本科生与研究生的凝聚态物理，太阳能材料物理等课程中主讲固体电子结构与第一性原理计算部分<br/>#}
{#                <b>3.</b> 苏州大学主讲本科生固体物理，半导体物理课程#}
{#            </p>#}
{##}
{#            <li>书籍与章节</li>#}
{#            <p>#}
{#                <b>1.</b> <u>W.-J. Yin</u>, H.-J. Gu and X.-G. Gong (2019), Computational Modeling and the Design of Perovskite Solar Cells. In: Andreoni W.,#}
{#                Yip S.#}
{#                (eds) Handbook of Materials Modeling. Springer, Cham <br/>#}
{#                <b>2.</b> Yanfa Yan, <u>Wan-Jian Yin</u>, Tingting Shi, Weiwei Meng, and Chunbao Feng, Chapter: Defect Physics of CH3NH3PbX3(X=I,Br,Cl)#}
{#                Perovskites.#}
{#                Book Title: Organic-Inorganic Halide Perovskite Photovoltaics: From Fundamentals to Device Architectures, Editors: Nam-Gyu Park, Michael#}
{#                Gratzel, Tsutomu Miyasaka, Springer International Publishing Switzerland 2016.<br/>#}
{#                <b>3.</b> <u>Wan-Jian Yin</u>, Tingting Shi and Yanfa Yan, Chapter 6: Structural, Electronic, and Optical Properties of Lead Halide Perovskites.#}
{#                Book#}
{#                Title: Unconventional Thin Film Photovoltaics. Editors: Enrico Da Como, Filippo De Angelis, Henry Snaith, Alison Walker, RSC Publishing 2016#}
{#            </p>#}

            <li>Publications</li>
            <p>Citations: 12000+ .<a href="{{ url_for('publications') }}"><b>See more</b></a></p>
        </ul>
    </div>
</div>

<!-- Start footer -->
<footer id="mu-footer">
    <div class="mu-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-footer-bottom-area">
                        <p class="mu-copy-right">
                            &copy; Copyright &nbsp;&nbsp;&nbsp;&nbsp; Wanjian Yin Group
                        </p>
                        <p class="mu-copy-right">
                            <a target="_blank" href="http://www.beian.miit.gov.cn/">
                                赣ICP备20002676号-1
                            </a>
                        </p>
                        <p class="mu-copy-right">
                            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36113002000138">
                                <img src="{{ url_for('static', filename='images/beian.png') }}" alt=""/>
                                赣公网安备 36113002000138号
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End footer -->


<!-- JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap_4.0.0.beta.min.js') }}"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Progress Bar -->
<script type="text/javascript" src="{{ url_for('static', filename='js/circle.js') }}"></script>
<!-- Filterable Gallery js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.filterizr.min.js') }}"></script>
<!-- Gallery Lightbox -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<!-- Counter js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js') }}"></script>
<!-- Ajax contact form  -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>


<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/diandian.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fuqiang.js') }}"></script>

<!-- About us Skills Circle progress  -->
<script>
    // First circle
    new Circlebar({
        element: "#circle-1",
        type: "progress",
        maxValue: "90"
    });

    // Second circle
    new Circlebar({
        element: "#circle-2",
        type: "progress",
        maxValue: "84"
    });

    // Third circle
    new Circlebar({
        element: "#circle-3",
        type: "progress",
        maxValue: "60"
    });

    // Fourth circle
    new Circlebar({
        element: "#circle-4",
        type: "progress",
        maxValue: "74"
    });

</script>

</body>
</html>
