<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>联系我们｜计算材料科学课题组</title>
    <meta name="keywords" content="计算材料科学,联系我们,联系方式,办公地点,通讯地址,苏州大学能源学院"/>
    <meta name="description" content="苏州大学能源学院计算材料科学课题组联系方式、办公地点与通讯地址。"/>
    <meta itemprop="name" content="联系我们｜计算材料科学课题组"/>
    <meta itemprop="description" content="苏州大学能源学院计算材料科学课题组联系方式、办公地点与通讯地址。"/>
    <link rel="canonical" href="https://www.comates.group/contact"/>
    <meta property="og:title" content="联系我们｜计算材料科学课题组"/>
    <meta property="og:description" content="课题组联系方式、办公地点与通讯地址。"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.comates.group/contact"/>
    <meta property="og:image" content="https://www.comates.group/static/images/web_logo.png"/>
    <meta property="og:image:secure_url" content="https://www.comates.group/static/images/web_logo.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="284"/>
    <meta property="og:image:height" content="284"/>
    <meta property="og:image:alt" content="计算材料科学课题组标志"/>
    <meta property="og:locale" content="zh_CN"/>
    <meta property="og:site_name" content="Computational Materials Science Group"/>
    <meta itemprop="image" content="https://www.comates.group/static/images/web_logo.png"/>
    <link rel="image_src" href="https://www.comates.group/static/images/web_logo.png"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='images/web_logo.svg') }}"/>
    <!-- Font Awesome -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_4.0.0.beta.min.css') }}"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Slick slider -->
    <link href="{{ url_for('static', filename='css/slick.css') }}" rel="stylesheet">
    <!-- Gallery Lightbox -->
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
    <!-- Skills Circle CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circle.css') }}">


    <!-- Main Style -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Fonts -->

    <!-- Google Fonts Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <!-- Google Fonts Open sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">

    <!--引用百度地图API-->
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak={{ baidu_map_ak }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/baidu_tongji.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/baidu_sousuo.js') }}"></script>
</head>
<body>
<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
</a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start Header -->
{% include "client/header.html" %}
<!-- End Header -->

<div style="margin: 0 auto;max-width: 1200px">

    <div id="mu-portfolio" style="text-align: center;">
        <div class="col-md-7" style="max-width: 800px;text-align: center;margin: 0 auto">
            <ul class="list-unstyled" style="text-align: left;">
                <li class="media" style="margin-top: 25px;">
                    <div class="media-body">
                        <img style="width: 32px;height: 32px;" src="{{ url_for('static', filename='images/icon_person.png') }}"/>
                        <strong style="font-size: 20px;padding:2em">Prof. Wanjian Yin</strong>
                    </div>
                </li>
                <li class="media" style="margin-top: 25px;">
                    <div class="media-body">
                        <img style="width: 32px;height: 32px;" src="{{ url_for('static', filename='images/icon_phone.png') }}"/>
                        <strong style="font-size: 20px;padding:2em">+86-18068086696</strong>
                    </div>
                </li>
                <li class="media" style="margin-top: 25px;">
                    <div class="media-body">
                        <img style="width: 32px;height: 32px;" src="{{ url_for('static', filename='images/icon_mail.png') }}"/>
                        <a href="mailto:wjyin@suda.edu.cn"><strong
                                style="font-size: 20px;padding:2em">wjyin@suda.edu.cn</strong></a>
                    </div>
                </li>
                <li class="media" style="margin-top: 25px;">
                    <div class="media-body">
                        <img style="width: 32px;height: 32px;" src="{{ url_for('static', filename='images/icon_address.png') }}"/>
                        <strong style="font-size: 20px;margin-left:2em;">College of Energy, Soochow Institute for Energy
                            and Materials InnovationS (SIEMIS), Soochow University, Suzhou 215006, China</strong>
                    </div>
                </li>
            </ul>
        </div>

        <!--百度地图容器-->
        <div style="margin:20px auto;width:100%;height:400px;max-width: 1000px;border:#ccc solid 1px;font-size:12px"
             id="map"></div>
    </div>
</div>

<!-- Start footer -->
<footer id="mu-footer">
    <div class="mu-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-footer-bottom-area">
                        <p class="mu-copy-right">
                            &copy; Copyright &nbsp;&nbsp;&nbsp;&nbsp; Wanjian Yin Group
                        </p>
                        <p class="mu-copy-right">
                            <a target="_blank" href="http://www.beian.miit.gov.cn/">
                                赣ICP备20002676号-1
                            </a>
                        </p>
                        <p class="mu-copy-right">
                            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36113002000138">
                                <img src="{{ url_for('static', filename='images/beian.png') }}" alt=""/>
                                赣公网安备 36113002000138号
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End footer -->


<!-- JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap_4.0.0.beta.min.js') }}"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Progress Bar -->
<script type="text/javascript" src="{{ url_for('static', filename='js/circle.js') }}"></script>
<!-- Filterable Gallery js -->
<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.filterizr.min.js') }}"></script>
<!-- Gallery Lightbox -->
<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<!-- Counter js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js') }}"></script>
<!-- Ajax contact form  -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>


<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/diandian.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fuqiang.js') }}"></script>

<!-- About us Skills Circle progress  -->
<script>
    // First circle
    new Circlebar({
        element: "#circle-1",
        type: "progress",
        maxValue: "90"
    });

    // Second circle
    new Circlebar({
        element: "#circle-2",
        type: "progress",
        maxValue: "84"
    });

    // Third circle
    new Circlebar({
        element: "#circle-3",
        type: "progress",
        maxValue: "60"
    });

    // Fourth circle
    new Circlebar({
        element: "#circle-4",
        type: "progress",
        maxValue: "74"
    });

</script>


<!-- Baidu Map JS  -->
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapOverlay();//向地图添加覆盖物
    }

    function createMap() {
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(120.652832, 31.308895), 19);
    }

    function setMapEvent() {
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }

    function addClickHandler(target, window) {
        target.addEventListener("click", function () {
            target.openInfoWindow(window);
        });
    }

    function addMapOverlay() {
        var markers = [
            {
                content: "",
                title: "We are here!",
                imageOffset: {width: 0, height: 0},
                position: {lat: 31.308956, lng: 120.651871}
            },
        ];
        for (var index = 0; index < markers.length; index++) {
            var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
            var marker = new BMap.Marker(point, {
                icon: new BMap.Icon("{{ url_for('static', filename='images/point.png') }}", new BMap.Size(30, 35), {
                    imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
                })
            });
            var label = new BMap.Label(markers[index].title, {offset: new BMap.Size(25, 5)});
            var opts = {
                width: 200,
                title: markers[index].title,
                enableMessage: false
            };
            var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
            marker.setLabel(label);
            addClickHandler(marker, infoWindow);
            map.addOverlay(marker);
        }
        ;
    }

    //向地图添加控件
    function addMapControl() {
        var scaleControl = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT});
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({
            anchor: BMAP_ANCHOR_TOP_LEFT,
            type: 0
        });
        map.addControl(navControl);
    }

    var map;
    initMap();
</script>

</body>
</html>
