<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>集体照片｜计算材料科学课题组</title>
    <meta name="keywords" content="计算材料科学,课题组照片,团队合影,学术交流,团队活动"/>
    <meta name="description" content="苏州大学能源学院计算材料科学课题组的集体合影、学术交流与团队活动记录。"/>
    <meta itemprop="name" content="集体照片｜计算材料科学课题组"/>
    <meta itemprop="description" content="苏州大学能源学院计算材料科学课题组的集体合影、学术交流与团队活动记录。"/>
    <link rel="canonical" href="https://www.comates.group/group_photo"/>
    <meta property="og:title" content="集体照片｜计算材料科学课题组"/>
    <meta property="og:description" content="课题组集体合影、学术交流与团队活动记录。"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.comates.group/group_photo"/>
    <meta property="og:image" content="https://www.comates.group/static/images/group/20210122.jpg"/>
    <meta property="og:image:secure_url" content="https://www.comates.group/static/images/group/20210122.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="900"/>
    <meta property="og:image:height" content="600"/>
    <meta property="og:image:alt" content="计算材料科学课题组合影"/>
    <meta property="og:locale" content="zh_CN"/>
    <meta property="og:site_name" content="Computational Materials Science Group"/>
    <meta itemprop="image" content="https://www.comates.group/static/images/group/20210122.jpg"/>
    <link rel="image_src" href="https://www.comates.group/static/images/group/20210122.jpg"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='images/web_logo.svg') }}"/>
    <!-- Font Awesome -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_4.0.0.beta.min.css') }}"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Slick slider -->
    <link href="{{ url_for('static', filename='css/slick.css') }}" rel="stylesheet">
    <!-- Gallery Lightbox -->
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
    <!-- Skills Circle CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circle.css') }}">


    <!-- Main Style -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Fonts -->

    <!-- Google Fonts Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <!-- Google Fonts Open sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/baidu_tongji.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/baidu_sousuo.js') }}"></script>
</head>
<body>
<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
</a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start Header -->
{% include "client/header.html" %}
<!-- End Header -->

<div style="margin: 0 auto;max-width: 1200px">
    <div id="mu-portfolio" style="text-align: center;">
        <div class="timeline">
        
            <div class="item">
                <div class="job-meta">
                    <div class="title">春游●西山岛</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>SIEMIS</div>
                    <div class="time">2025-04-20</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20250420.jpg') }}" alt="Group Photo">
                
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/202504202.JPG') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">2024年终总结报告会</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>SIEMIS</div>
                    <div class="time">2025-01-06</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20250106.jpg') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">2022年终总结报告会</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>苏州●太湖西山岛</div>
                    <div class="time">2023-04-01</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20230401.jpg') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">2022届研究生毕业团建</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>苏州</div>
                    <div class="time">2022-06-22</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20220622.jpg') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">春游●环古城步道</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>苏州</div>
                    <div class="time">2021-03-24</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20210324.jpg') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">2020年终总结报告会</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>苏州</div>
                    <div class="time">2021-01-22</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20210122.jpg') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">Group Photo</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Suzhou</div>
                    <div class="time">2020-09-26</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20200926.jpg') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">Group Photo</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Suzhou</div>
                    <div class="time">2019-12-24</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20191224.jpg') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">Spring outing</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Suzhou</div>
                    <div class="time">2019-03-28</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20190328.jpg') }}" alt="Spring outing">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">Group Photo</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>SIEMIS</div>
                    <div class="time">2018</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20181200.jpg') }}" alt="Group Photo">
            </div><!--//item-->

            <div class="item">
                <div class="job-meta">
                    <div class="title">Group Photo</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>SIEMIS</div>
                    <div class="time">2018</div>
                </div><!--//job-meta-->
                <img class="groupphoto" src="{{ url_for('static', filename='images/group/20180100.jpg') }}" alt="Group Photo">
            </div><!--//item-->
        </div>
    </div>
</div>

<!-- Start footer -->
<footer id="mu-footer">
    <div class="mu-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-footer-bottom-area">
                        <p class="mu-copy-right">
                            &copy; Copyright &nbsp;&nbsp;&nbsp;&nbsp; Wanjian Yin Group
                        </p>
                        <p class="mu-copy-right">
                            <a target="_blank" href="http://www.beian.miit.gov.cn/">
                                赣ICP备20002676号-1
                            </a>
                        </p>
                        <p class="mu-copy-right">
                            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36113002000138">
                                <img src="{{ url_for('static', filename='images/beian.png') }}" alt=""/>
                                赣公网安备 36113002000138号
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End footer -->


<!-- JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap_4.0.0.beta.min.js') }}"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Progress Bar -->
<script type="text/javascript" src="{{ url_for('static', filename='js/circle.js') }}"></script>
<!-- Filterable Gallery js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.filterizr.min.js') }}"></script>
<!-- Gallery Lightbox -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<!-- Counter js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js') }}"></script>
<!-- Ajax contact form  -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>


<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/diandian.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fuqiang.js') }}"></script>


<!-- About us Skills Circle progress  -->
<script>
    // First circle
    new Circlebar({
        element: "#circle-1",
        type: "progress",
        maxValue: "90"
    });

    // Second circle
    new Circlebar({
        element: "#circle-2",
        type: "progress",
        maxValue: "84"
    });

    // Third circle
    new Circlebar({
        element: "#circle-3",
        type: "progress",
        maxValue: "60"
    });

    // Fourth circle
    new Circlebar({
        element: "#circle-4",
        type: "progress",
        maxValue: "74"
    });

</script>

</body>
</html>
