<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>课题组成员｜计算材料科学课题组</title>
    <meta name="keywords" content="计算材料科学,课题组成员,教师,博士后,博士生,硕士生,毕业生"/>
    <meta name="description" content="苏州大学能源学院计算材料科学课题组教师、博士后、研究生及历届成员。"/>
    <meta itemprop="name" content="课题组成员｜计算材料科学课题组"/>
    <meta itemprop="description" content="苏州大学能源学院计算材料科学课题组教师、博士后、研究生及历届成员。"/>
    <link rel="canonical" href="https://www.comates.group/members/"/>
    <meta property="og:title" content="课题组成员｜计算材料科学课题组"/>
    <meta property="og:description" content="课题组教师、博士后、研究生及历届成员。"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.comates.group/members/"/>
    <meta property="og:image" content="https://www.comates.group/static/images/group/20210122.jpg"/>
    <meta property="og:image:secure_url" content="https://www.comates.group/static/images/group/20210122.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="900"/>
    <meta property="og:image:height" content="600"/>
    <meta property="og:image:alt" content="计算材料科学课题组成员合影"/>
    <meta property="og:locale" content="zh_CN"/>
    <meta property="og:site_name" content="Computational Materials Science Group"/>
    <meta itemprop="image" content="https://www.comates.group/static/images/group/20210122.jpg"/>
    <link rel="image_src" href="https://www.comates.group/static/images/group/20210122.jpg"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='images/web_logo.svg') }}"/>
    <!-- Font Awesome -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_4.0.0.beta.min.css') }}"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Slick slider -->
    <link href="{{ url_for('static', filename='css/slick.css') }}" rel="stylesheet">
    <!-- Gallery Lightbox -->
    <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
    <!-- Skills Circle CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circle.css') }}">


    <!-- Main Style -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Fonts -->

    <!-- Google Fonts Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <!-- Google Fonts Open sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/baidu_tongji.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/baidu_sousuo.js') }}"></script>
</head>
<body>
<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
</a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start Header -->
{% include "client/header.html" %}
<!-- End Header -->

<div style="margin: 0 auto;max-width: 1200px;text-align: center">
    <div id="mu-portfolio" style="text-align: center;">
        <p class="photo_title">Faculty</p>
        <div class="span_of_3">
            <div class="span1_of_3">
                <div><a href="{{ url_for('wanjian_yin') }}">
                    <img src="{{ url_for('static', filename='images/yinwanjian.jpg') }}" alt="尹万健"/>
                    <p><strong>Wanjian Yin (尹万健)</strong></p>
                    <p><strong>Professor, PI</strong></p>
                    <p>Email: wjyin@suda.edu.cn</p>
                </a></div>
            </div>

            <div class="span1_of_3">
{#                <div><a href="https://sites.google.com/view/kezhou/home" rel="nofollow external" target="_blank">#}
                <div><a href="{{ url_for('members', mem_id='zhouke') }}" rel="nofollow external" target="_blank">
                    <img src="{{ url_for('static', filename='images/members/zhouke.png') }}" alt="周柯"/>
                    <p><strong>Ke Zhou (周柯)</strong></p>
                    <p><strong>Associate professor</strong></p>
                    <p>Email: zhouke@suda.edu.cn</p>
                </a></div>
            </div>

        </div>

    </div>
    <div id="mu-portfolio" style="text-align: center;">
        <div class="photo_title">Postdoctor</div>
         <div class="span_of_3">


            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/xuehaibo.jpg') }}" alt="孙秀彩"/>
                    <p><strong>Haibo Xue (薛海波)</strong></p>
                    <p>2023</p>
                    <p>(PhD. Eindhoven University of Technology)</p>
                    <p>Email: xuehaibopp@163.com</p>
                </a></div>
            </div> <!--//xuehaibo-->

        </div>
    </div>
    <div id="mu-portfolio" style="text-align: center;">
        <div class="photo_title">PhD</div>
        <div class="span_of_3">

            <div class="span1_of_3">
                <div><a href="http://gjcheng.fun/"  rel="nofollow external" target="_blank">
                    <img src="{{ url_for('static', filename='images/members/chengguanjian.jpg') }}" alt="程观剑"/>
                    <p><strong>Guanjian Cheng (程观剑)</strong></p>
                    <p>2021</p>
                    <p>Email: cheng7258002@live.com</p>
                </a></div>
            </div> <!--//chengguanjian-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)"  rel="nofollow external" target="_blank">
                    <img src="{{ url_for('static', filename='images/members/zhangmaoyan3.jpg') }}" alt="张茂岩"/>
                    <p><strong>Maoyan Zhang (张茂岩)</strong></p>
                    <p>2023</p>
                    <p>Email: maoyanzhang@foxmail.com</p>
                </a></div>
            </div> <!--//zhangmaoyan-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/jiangweijian.jpg') }}" alt="姜伟健"/>
                    <p><strong>Weijian Jiang (姜伟健)</strong></p>
                    <p>2024</p>
                    <p>Email: weijianjiang@126.com</p>
                </a></div>
            </div> <!--//jiangweijian-->

        </div>
    </div>
    <div id="mu-portfolio" style="text-align: center;">
        <div class="photo_title">Master</div>
        <div class="span_of_3">

{#            <div class="span1_of_3">#}
{#                <div><a href="javascript:void(0)">#}
{#                    <img src="{{ url_for('static', filename='images/members/zhangbaozhi.jpg') }}" alt="张宝智"/>#}
{#                    <p><strong>Baozhi Zhang (张宝智)</strong></p>#}
{#                    <p>2022</p>#}
{#                    <p>Email: 549937142@qq.com</p>#}
{#                </a></div>#}
{#            </div> <!--//zhangbaozhi-->#}
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/wangchenyu.jpg') }}" alt="王晨宇"/>
                    <p><strong>Chenyu Wang (王晨宇)</strong></p>
                    <p>2023</p>
                    <p>Email: 1295205263@qq.com</p>
                </a></div>
            </div> <!--//wangchenyu-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/tianwei.jpg') }}" alt="田伟"/>
                    <p><strong>Wei Tian (田伟)</strong></p>
                    <p>2023</p>
                    <p>Email: tianwei020304@163.com</p>
                </a></div>
            </div> <!--//tianwei-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/fengkaiwei.jpg') }}" alt="冯凯威"/>
                    <p><strong>Kaiwei Feng (冯凯威)</strong></p>
                    <p>2024</p>
                    <p>Email: fkw12698967164@163.com</p>
                </a></div>
            </div> <!--//fengkaiwei-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/chenguangming.jpg') }}" alt="陈光明"/>
                    <p><strong>Guangming Chen (陈光明)</strong></p>
                    <p>2024</p>
                    <p>Email: 17634437488@163.com</p>
                </a></div>
            </div> <!--//chenguangming-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/luoruoming3.jpg') }}" alt="罗若铭"/>
                    <p><strong>Ruoming Luo (罗若铭)</strong></p>
                    <p>2024</p>
                    <p>Email: 737795805@qq.com</p>
                </a></div>
            </div> <!--//luoruoming-->


            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/zhangchongyang.jpg') }}" alt="张重阳"/>
                    <p><strong>Chongyang Zhang (张重阳)</strong></p>
                    <p>2025</p>
                    <p>Email: 20254240024@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//yangxaioxia-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/shayenan.jpg') }}" alt="沙烨男"/>
                    <p><strong>Yenan Sha (沙烨男)</strong></p>
                    <p>2025</p>
                    <p>Email: yenansha@outlook.com</p>
                </a></div>
            </div> <!--//yangxaioxia-->


            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/chengjie.jpg') }}" alt="陈杰"/>
                    <p><strong>Jie Chen (陈杰)</strong></p>
                    <p>2025</p>
                    <p>Email: 20254240042@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//yangxaioxia-->
        </div>
    </div>

{#    <div id="mu-portfolio" style="text-align: center;">#}
{#        <div class="photo_title">Academic Visitor</div>#}
{#        <div class="span_of_3">#}
{#            #}
{##}
{#        </div>#}
{#    </div>#}

    <div id="mu-portfolio" style="text-align: center;">
        <div class="photo_title">Visiting Student</div>
        <div class="span_of_3">

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/tianshun.jpg') }}" alt="田顺"/>
                    <p><strong>Shun Tian (田顺)</strong></p>
                    <p>2023</p>
                    <p>PhD</p>
                    <p>From Xi’an Jiaotong University</p>
                    <p>Email: tianshun@stu.xjtu.edu.cn</p>
                </a></div>
            </div> <!--//tianshun-->
            
    




        </div>
    </div>

{#    <div id="mu-portfolio" style="text-align: center;">#}
{#        <div class="photo_title">Research Associate</div>#}
{#        <div class="span_of_3">#}
{#            #}
{#            <div class="span1_of_3">#}
{#                <div><a href="javascript:void(0)">#}
{#                    <img src="{{ url_for('static', filename='images/members/zhouzhou.jpg') }}" alt="周洲"/>#}
{#                    <p><strong>Zhou Zhou (周洲)</strong></p>#}
{#                    <p>2020</p>#}
{#                    <p>Email: zhouzhou@suda.edu.cn</p>#}
{#                </a></div>#}
{#            </div> <!--//zhouzhou-->#}
{##}
{#        </div>#}
{#    </div>#}

    <div id="mu-portfolio" style="text-align: center;">
        <div class="photo_title">Undergraduate</div>
        <div class="span_of_3">

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
                    <img src="{{ url_for('static', filename='images/members/yanwei.jpg') }}" alt="严威"/>
                    <p><strong>Wei Yan (严威)</strong></p>
                    <p>2023</p>
                    <p>New Energy Materials and Devices</p>
                    <p>Email: 1131951661@qq.com</p>
                </a></div>
            </div> <!--//yanwei-->


        </div>
    </div>

    <div id="mu-portfolio" style="text-align: center;">
        <div class="photo_title">Alumni</div>
        <div class="span_of_3">
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/yangxiaoxia.jpg') }}" alt="杨晓霞"/>#}
                    <p><strong>Xiaoxia Yang (杨晓霞)</strong></p>
                    <p>Visiting Student (2023) From Ningbo University</p>
                    <p>Doctor (2025)</p>
                    <p>Email: Email: yxa0804@163.com</p>
                </a></div>
            </div> <!--//JunyuLian-->

            
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/lianjunyu.jpg') }}" alt="连均愉"/>#}
                    <p><strong>Junyu Lian (连均愉)</strong></p>
                    <p>Visiting Student (2023) From Shanghai University</p>
                    <p>Master (2023)</p>
                    <p>Email: 2235174330@qq.com</p>
                </a></div>
            </div> <!--//JunyuLian-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/zhangjing.jpg') }}" alt="张靖"/>#}
                    <p><strong>Jing Zhang (张靖)</strong></p>
                    <p>Visiting Student (2023) From Ningbo University</p>
                    <p>Master (2023)</p>
                    <p>Email: 488512838@qq.com</p>
                </a></div>
            </div> <!--//zhangjin-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/xieyahui.jpg') }}" alt="谢雅慧"/>#}
                    <p><strong>Yahui Xie (谢雅慧)</strong></p>
                    <p>Visiting Student (2023) From Xi’an Jiaotong University</p>
                    <p>Master (2021)</p>
                    <p>Email: ceft1107@163.com</p>
                </a></div>
            </div> <!--//xieyahui-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/yangfan.jpg') }}" alt="杨帆"/>#}
                    <p><strong>Fan Yang (杨帆)</strong></p>
                    <p>Master (2021)</p>
                    <p>Now in Tianfu Jiangxi Laboratory</p>
                    <p>Email: 18593938006@163.com</p>
                </a></div>
            </div> <!--//yangfan-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/guojianyang.jpg') }}" alt="郭舰阳"/>#}
                    <p><strong>Jianyang Guo (郭舰阳)</strong></p>
                    <p>Master (2021)</p>
                    <p>Email: 13894063021@sina.cn</p>
                </a></div>
            </div> <!--//guojianyang-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/chenxiwen.jpg') }}" alt="陈曦雯"/>#}
                    <p><strong>Xiwen Chen (陈曦雯)</strong></p>
                    <p>Doctor (2020)</p>
                    <p>Now in Trina Solar</p>
                    <p>Email: xwchen@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//chenxiwen-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/lihuanya_2.jpg') }}" alt="李环娅"/>#}
                    <p><strong>Huanya Li (李环娅)</strong></p>
                    <p>Master (2020)</p>
                    <p>Email: 20204240007@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//lihuanya-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/lizhihao.jpg') }}" alt="李志豪"/>#}
                    <p><strong>Zhihao Li (李志豪)</strong></p>
                    <p>Master (2020)</p>
                    <p>Now in BYD (Shenzhen)</p>
                    <p>Email: 20204240030@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//lizhihao-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/sunxiucai.jpg') }}" alt="孙秀彩"/>#}
                    <p><strong>Xiucai Sun (孙秀彩)</strong></p>
{#                    <p>2021</p>#}
{#                    <p>(BGI)</p>#}
                    <p>BGI faculty</p>
                    <p>Email: sunxc-cnc@pku.edu.cn</p>
                </a></div>
            </div> <!--//sunxiucai-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/sunxiaoli.jpg') }}" alt="孙晓莉"/>#}
                    <p><strong>Xiaoli Sun (孙晓莉)</strong></p>
{#                    <p>2021</p>#}
{#                    <p>(BGI)</p>#}
                    <p>BGI faculty</p>
                    <p>Email: sunxiaolideyuye@163.com</p>
                </a></div>
            </div> <!--//sunxiaoli-->



            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/yinyuan.jpg') }}" alt="尹媛"/>#}
                    <p><strong>Yuan Yin (尹媛)</strong></p>
{#                    <p>2020</p>#}
{#                    <p>Research Associate</p>#}
                    <p>(Now in Baoji University of Arts and Sciences)</p>
                    <p>Email: yinyuan8008@126.com</p>
                </a></div>
            </div> <!--//yinyuan-->


            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/guozhendong.jpg') }}" alt="郭振东"/>#}
                    <p><strong>Zhendong Guo (郭振东)</strong></p>
                    <p>Postdoctor (2019)</p>
{#                    <p>(PhD. EPFL)</p>#}
                    <p>Now in Nanjing University of Science and Technology</p>
                    <p>Email: zdguo@suda.edu.cn</p>
                </a></div>
            </div> <!--//guozhendong-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/wangjing.jpg') }}" alt="王静"/>#}
                    <p><strong>Jing Wang (王静)</strong></p>
                    <p>Postdoctor (2020) & Doctor (2017)</p>
{#                    <p>(PhD. Soochow University)</p>#}
                    <p>Now in Ningbo University</p>
                    <p>Email: wangjing0314@suda.edu.cn</p>
                </a></div>
            </div> <!--//wangjing-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/chengaoyuan.jpg') }}" alt="陈高远"/>#}
                    <p><strong>Gaoyuan Chen (陈高远)</strong></p>
                    <p>Doctor (2018)</p>
                    <p>Now in Suzhou University of Science and Technology</p>
                    <p>Email: gychen@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//chengaoyuan-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/mengfanbin.jpg') }}" alt="孟繁斌"/>#}
                    <p><strong>Fanbin Meng (孟繁斌)</strong></p>
{#                    <p>Physical Science and Technology (2018)</p>#}
                    <p>Undergraduate (2018)</p>
                    <p>Now in National University of Singapore</p>
                    <p>Email: b1447413638@163.com</p>
                </a></div>
            </div> <!--//mengfanbin-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/liling.jpg') }}" alt="李玲"/>#}
                    <p><strong>Ling Li (李玲)</strong></p>
                    <p>Master (2019)</p>
                    <p>Now in Atlas (Suzhou)</p>
                    <p>Email: lli000@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//liling-->


            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/liufangting.jpg') }}" alt="刘芳庭"/>#}
                    <p><strong>Fangting Liu (刘芳庭)</strong></p>
{#                    <p>New Energy Materials and Devices (2018)</p>#}
                    <p>Undergraduate (2018)</p>
                    <p>Now in Southeast University</p>
                    <p>Email: ftliu@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//liufangting-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/tianyu.jpg') }}" alt="田宇"/>#}
                    <p><strong>Yu Tian (田宇)</strong></p>
{#                    <p>New Energy Materials and Devices (2018)</p>#}
                    <p>Undergraduate (2018)</p>
                    <p>Now in Tsinghua University</p>
                    <p>Email: 1824402006@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//tianyu-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/huanghaohang.jpg') }}" alt="黄浩航"/>#}
                    <p><strong>Haohang Huang (黄浩航)</strong></p>
{#                    <p>New Energy Materials and Devices (Sino Foreign Cooperative Education) (2018)</p>#}
                    <p>Undergraduate (2018)</p>
                    <p>Now in Fudan University</p>
                    <p>Email: hhh5951@163.com</p>
                </a></div>
            </div> <!--//huanghaohang-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/zhouzhou.jpg') }}" alt="周洲"/>#}
                    <p><strong>Zhou Zhou (周洲)</strong></p>
                    <p>RA (2020)</p>
                    <p>Now in Soochow University</p>
                    <p>Email: zhouzhou@suda.edu.cn</p>
                </a></div>
            </div> <!--//zhouzhou-->

            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/songzhilong.jpg') }}" alt="宋志龙"/>#}
                    <p><strong>Zhilong Song (宋志龙)</strong></p>
                    <p>Master (2018)</p>
                    <p>Now in Southeast University</p>
                    <p>Email: zlsong@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//songzhilong-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/sunzhongti.jpg') }}" alt="孙中体"/>#}
                    <p><strong>Zhongti Sun (孙中体)</strong></p>
{#                    <p>2018, joint postdoctor with Prof. SUN Jingyu</p>#}
                    <p>Postdoctor (2018)</p>
{#                    <p>(PhD. USTC)</p>#}
                    <p>Now in Jiangsu University</p>
                    <p>Email: ztsun@suda.edu.cn</p>
                </a></div>
            </div> <!--//sunzhongti-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/jiangxiaowei.png') }}" alt="江小蔚"/>#}
                    <p><strong>Xiaowei Jiang (江小蔚)</strong></p>
                    <p>Doctor (2016)</p>
                    <p>Email: 164182002@qq.com</p>
                </a></div>
            </div> <!--//jiangxiaowei-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/lizhenzhu.png') }}" alt="李珍珠"/>#}
                    <p style="height: auto"></p>
                    <p><strong>Zhenzhu Li (李珍珠)</strong></p>
                    <p>Postdoctor (2017)</p>
{#                    <p>(PhD. Peking University)</p>#}
                    <p>Now in Imperial College London, UK</p>
                    <p>Email: lzz@suda.edu.cn</p>
                </a></div>
            </div> <!--//lizhenzhu-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/zhanghuifeng.jpg') }}" alt="张慧峰"/>#}
                    <p><strong>Huifeng Zhang (张慧峰)</strong></p>
{#                    <p>New Energy Materials and Devices (2016)</p>#}
                    <p>Undergraduate (2016)</p>
                    <p>Now in Xiamen University</p>
                    <p>Email: hfzhang@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//zhanghuifeng-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/about-us.jpg') }}" alt="王陈"/>#}
                    <p><strong>Chen Wang (王陈)</strong></p>
                    <p>Master (2018)</p>
                    <p>Email: 20184208025@stu.suda.edu.cn</p>
                </a></div>
            </div> <!--//wangchen-->
{#            <div class="span1_of_3">#}
{#                <div><a href="javascript:void(0)">#}
{#                    <img src="{{ url_for('static', filename='images/members/baoshuai.jpg') }}" alt="鲍帅"/>#}
{#                    <p><strong>Shuai Bao (鲍帅)</strong></p>#}
{#                    <p>Research Associate</p>#}
{#                    <p>Email: baoshuai_phy@hotmail.com</p>#}
{#                </a></div>#}
{#            </div> <!--//baoshuai-->#}
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/xuqichen.jpg') }}" alt="徐其琛"/>#}
                    <p><strong>Qichen Xu (徐其琛)</strong></p>
                    <p>Research Associate</p>
                    <p>Now in KTH Royal Institute of Technology</p>
                    <p>Email: qichenx@kth.se</p>
                </a></div>
            </div> <!--//xuqichen-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/huozhengbao.jpg') }}" alt="霍正宝"/>#}
                    <p><strong>Zhengbao Huo (霍正宝)</strong></p>
                    <p>Master (2016)</p>
                    <p>Now in Canadian Solar Inc.</p>
                    <p>Email: 18896557184@163.com</p>
                </a></div>
            </div> <!--//huozhengbao-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/sunqingde.png') }}" alt="孙庆德"/>#}
                    <p><strong>Qingde Sun (孙庆德)</strong></p>
                    <p>Doctor (2015)</p>
                    <p>Now in Beijing Computational Science Research Center</p>
                    <p>Email: qingdesun1190@163.com</p>
                </a></div>
            </div> <!--//sunqingde-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/fazel_shojaei.png') }}" alt="Fazel Shojaei"/>#}
                    <p><strong>Fazel Shojaei</strong></p>
                    <p>Postdoctor</p>
                    <p>Now in Persian Gulf University</p>
                    <p>Email: Fazelshojaei1986@gmail.com</p>
                </a></div>
            </div> <!--//fazel_shojaei-->
            <div class="span1_of_3">
                <div><a href="javascript:void(0)">
{#                    <img src="{{ url_for('static', filename='images/members/huangyang.jpg') }}" alt="黄杨"/>#}
                    <p><strong>Yang Huang (黄杨)</strong></p>
                    <p>Research Associate</p>
                    <p>Now in Shenzhen University</p>
                    <p>Email: huangyang10010@163.com</p>
                </a></div>
            </div> <!--//huangyang-->
        </div>
    </div>
</div>

<!-- Start footer -->
<footer id="mu-footer">
    <div class="mu-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-footer-bottom-area">
                        <p class="mu-copy-right">
                            &copy; Copyright &nbsp;&nbsp;&nbsp;&nbsp; Wanjian Yin Group
                        </p>
                        <p class="mu-copy-right">
                            <a target="_blank" href="http://www.beian.miit.gov.cn/">
                                赣ICP备20002676号-1
                            </a>
                        </p>
                        <p class="mu-copy-right">
                            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36113002000138">
                                <img src="{{ url_for('static', filename='images/beian.png') }}" alt=""/>
                                赣公网安备 36113002000138号
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End footer -->


<!-- JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap_4.0.0.beta.min.js') }}"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Progress Bar -->
<script type="text/javascript" src="{{ url_for('static', filename='js/circle.js') }}"></script>
<!-- Filterable Gallery js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.filterizr.min.js') }}"></script>
<!-- Gallery Lightbox -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<!-- Counter js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/counter.js') }}"></script>
<!-- Ajax contact form  -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>


<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/diandian.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fuqiang.js') }}"></script>

<!-- About us Skills Circle progress  -->
<script>
    // First circle
    new Circlebar({
        element: "#circle-1",
        type: "progress",
        maxValue: "90"
    });

    // Second circle
    new Circlebar({
        element: "#circle-2",
        type: "progress",
        maxValue: "84"
    });

    // Third circle
    new Circlebar({
        element: "#circle-3",
        type: "progress",
        maxValue: "60"
    });

    // Fourth circle
    new Circlebar({
        element: "#circle-4",
        type: "progress",
        maxValue: "74"
    });

</script>

</body>
</html>
